@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;400;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-size: 1.6rem;
  font-weight: 300;
  background-color: #fff;
  color: #000;
  line-height: 1.6;
  width: 100% !important;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden; }

.container {
  width: 80%;
  max-width: 140rem;
  margin: 0 auto; }

#header {
  width: 100%;
  height: 100vh;
  background-color: inherit;
  position: relative; }
  #header .container nav {
    width: 100%;
    height: 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px; }
    #header .container nav .nav-brand {
      height: 2.8rem;
      width: auto; }
      #header .container nav .nav-brand img {
        height: 100%; }
    #header .container nav .nav-list {
      display: flex;
      list-style: none; }
      #header .container nav .nav-list .nav-item {
        padding: 0 1.5rem; }
        #header .container nav .nav-list .nav-item .nav-link {
          text-decoration: none;
          font-family: "Bebas Neue", cursive;
          font-size: 1.4rem;
          color: #9E9E9E;
          display: inline-block;
          transform: scale(0);
          transition: transform .650s;
          backface-visibility: hidden; }
          #header .container nav .nav-list .nav-item .nav-link:hover {
            color: #000;
            transition: all .3s ease; }
    #header .container nav .nav-list.active .nav-item .nav-link {
      transform: scale(1); }
    #header .container nav .nav-list.active .nav-item:nth-child(1) .nav-link {
      transition-delay: .3s; }
    #header .container nav .nav-list.active .nav-item:nth-child(2) .nav-link {
      transition-delay: .2s; }
    #header .container nav .nav-list.active .nav-item:nth-child(3) .nav-link {
      transition-delay: .1s; }
    #header .container nav .nav-list .nav-item {
      backface-visibility: hidden; }
      #header .container nav .nav-list .nav-item:nth-child(1) .nav-link {
        transition-delay: .1s; }
      #header .container nav .nav-list .nav-item:nth-child(2) .nav-link {
        transition-delay: .2s; }
      #header .container nav .nav-list .nav-item:nth-child(3) .nav-link {
        transition-delay: .3s; }
    #header .container nav .hamburger {
      cursor: pointer;
      z-index: 999;
      position: relative;
      transition: all .4s ease;
      right: 0; }
      #header .container nav .hamburger .toggle {
        font-size: 1.4rem;
        font-family: "Bebas Neue", cursive;
        transition: all .4s;
        color: #9E9E9E; }
  #header #hero {
    margin-top: 12rem; }
    #header #hero .centered {
      text-align: center;
      z-index: 9; }
      #header #hero .centered h1 {
        font-size: 9.7rem;
        line-height: 1.2;
        margin: 3rem 0 1rem 0;
        color: #399431; }
      #header #hero .centered p {
        width: 40%;
        margin: 0 auto;
        line-height: 2;
        color: #9E9E9E; }
        #header #hero .centered p a {
          color: #399431; }
          #header #hero .centered p a:hover {
            transition: all .3s ease;
            color: #9E9E9E; }
    #header #hero .btm-links {
      display: flex;
      justify-content: space-between;
      margin-top: 22rem; }
      #header #hero .btm-links .links {
        display: flex; }
        #header #hero .btm-links .links .item {
          margin-right: 6rem; }
          #header #hero .btm-links .links .item h5 {
            font-size: 1.2rem;
            font-family: "Bebas Neue", cursive;
            color: #9E9E9E;
            letter-spacing: 1px; }
          #header #hero .btm-links .links .item p {
            font-size: 1.4rem;
            margin-top: .3rem; }
            #header #hero .btm-links .links .item p::after {
              content: url(../img/assets/); }
            #header #hero .btm-links .links .item p a {
              text-decoration: none;
              color: inherit;
              transition: all .3s ease; }
              #header #hero .btm-links .links .item p a:hover {
                color: #9E9E9E; }
  #header .scape {
    position: absolute;
    bottom: 2rem;
    right: 3rem;
    width: 15rem;
    height: auto; }
    #header .scape img {
      height: 100%; }

@media screen and (max-width: 468px) {
  .container {
    width: 90%; }
  nav {
    height: 6rem; }
  .nav-list {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: fixed;
    bottom: -100vh;
    left: 0;
    transition: bottom 650ms;
    z-index: 998; }
    .nav-list .nav-item {
      margin: 3rem 0; }
      .nav-list .nav-item .nav-link {
        color: #000 !important;
        font-size: 1.6rem !important; }
  .nav-list.active {
    bottom: 0; }
  .toggle {
    color: #000 !important; } }
