@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;400;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-size: 1.6rem;
  font-weight: 300;
  background-color: #330052;
  color: #000;
  line-height: 1.6;
  width: 100% !important;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden; }

.container {
  width: 80%;
  max-width: 140rem;
  margin: 0 auto; }

#header {
  width: 100%;
  height: 100vh;
  background-color: inherit;
  position: relative; }
  #header .container nav {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px; }
    #header .container nav .nav-brand {
      height: 3.8rem;
      width: auto;
      -webkit-tap-highlight-color: transparent; }
      #header .container nav .nav-brand img {
        height: 100%; }
    #header .container nav .nav-list {
      display: flex;
      list-style: none; }
      #header .container nav .nav-list .nav-item {
        padding: 0 1.5rem; }
        #header .container nav .nav-list .nav-item .nav-link {
          text-decoration: none;
          font-family: "Bebas Neue", cursive;
          font-size: 1.4rem;
          color: #B0A1BA;
          display: inline-block;
          transform: scale(0);
          transition: transform .65s; }
          #header .container nav .nav-list .nav-item .nav-link:hover {
            color: #fff;
            transition: all .65s ease; }
    #header .container nav .nav-list.active .nav-item .nav-link {
      transform: scale(1); }
    #header .container nav .nav-list.active .nav-item:nth-child(1) .nav-link {
      transition-delay: .3s; }
    #header .container nav .nav-list.active .nav-item:nth-child(2) .nav-link {
      transition-delay: .2s; }
    #header .container nav .nav-list.active .nav-item:nth-child(3) .nav-link {
      transition-delay: .1s; }
    #header .container nav .nav-list .nav-item {
      backface-visibility: hidden; }
      #header .container nav .nav-list .nav-item:nth-child(1) .nav-link {
        transition-delay: .1s; }
      #header .container nav .nav-list .nav-item:nth-child(2) .nav-link {
        transition-delay: .2s; }
      #header .container nav .nav-list .nav-item:nth-child(3) .nav-link {
        transition-delay: .3s; }
    #header .container nav .hamburger {
      cursor: pointer;
      z-index: 999;
      position: relative;
      transition: all .65s ease;
      right: 0; }
      #header .container nav .hamburger .toggle {
        font-size: 1.4rem;
        font-family: "Bebas Neue", cursive;
        color: #B0A1BA;
        transition: all .65s ease; }
  #header #hero {
    margin-top: 10rem;
    position: relative;
    z-index: 99; }
    #header #hero .centered {
      text-align: center;
      transition: all .65s ease; }
      #header #hero .centered .happy-emoji {
        display: inline-block;
        margin-bottom: 3rem;
        transition: all .65s ease; }
      #header #hero .centered h1 {
        font-size: 8.7rem;
        line-height: 1.3;
        color: #fff;
        width: auto;
        margin: auto; }
      #header #hero .centered p {
        width: 40%;
        margin: 0 auto;
        line-height: 2;
        color: #B0A1BA;
        font-size: 1.8rem;
        margin-top: 3rem; }
        #header #hero .centered p a {
          color: #fff;
          text-decoration: none;
          -webkit-tap-highlight-color: transparent; }
          #header #hero .centered p a:hover {
            transition: all .3s ease;
            color: #B0A1BA; }
    #header #hero .btm-links {
      display: flex;
      justify-content: space-between;
      margin-top: 25rem; }
      #header #hero .btm-links .links {
        display: flex; }
        #header #hero .btm-links .links .item {
          margin-right: 6rem; }
          #header #hero .btm-links .links .item h5 {
            font-size: 1.2rem;
            font-family: "Bebas Neue", cursive;
            color: #B0A1BA;
            letter-spacing: 1px; }
          #header #hero .btm-links .links .item p {
            font-size: 1.2rem;
            margin-top: .3rem;
            color: #fff; }
            #header #hero .btm-links .links .item p a {
              text-decoration: none;
              color: inherit;
              transition: all .3s ease; }
              #header #hero .btm-links .links .item p a:hover {
                color: #B0A1BA; }
              #header #hero .btm-links .links .item p a::after {
                content: url(../img/assets/arrow-up-right.svg);
                margin-left: 1rem;
                height: .2rem !important; }
      #header #hero .btm-links .form {
        width: auto;
        display: flex;
        align-items: center; }
        #header #hero .btm-links .form input[type=email] {
          width: 36rem;
          height: 5rem;
          border-radius: .4rem;
          border: none;
          background-color: #2C0146;
          padding-left: 2.5rem; }
          #header #hero .btm-links .form input[type=email]::placeholder {
            font-size: 1.4rem;
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            color: #B0A1BA; }
          #header #hero .btm-links .form input[type=email]:focus, #header #hero .btm-links .form input[type=email]:active {
            outline: none;
            color: #B0A1BA;
            font-size: 1.4rem;
            font-weight: 300;
            font-family: "Poppins", sans-serif; }
        #header #hero .btm-links .form button[type=submit] {
          border: none;
          height: 5rem;
          width: 5rem;
          border-radius: .4rem;
          margin-left: 1rem;
          background-color: #2C0146;
          cursor: pointer; }
  #header .eclipse-1 {
    position: absolute;
    width: 40rem;
    height: 40rem;
    border-radius: 1000px;
    background-color: #2C0146;
    top: 35%;
    left: 18%; }
  #header .chinese-x {
    transition: all .65s ease;
    position: absolute;
    top: 12%;
    right: 8%; }
  #header .food-tray1 {
    position: absolute;
    bottom: 35%;
    left: 10%;
    z-index: 4; }
  #header .food-tray2 {
    position: absolute;
    top: 35%;
    right: 20%;
    transition: all .65s ease; }
  #header .soft-s {
    position: absolute;
    bottom: 25%;
    right: 50%; }
  #header .soft-s-1 {
    position: absolute;
    top: 20%;
    left: 25%; }
  #header .soft-s-2 {
    position: absolute;
    bottom: 25%;
    right: 20%; }
  #header .review-x {
    transition: all .65s ease;
    position: absolute;
    bottom: 35%;
    left: 10%;
    z-index: 3; }
  #header .wave {
    position: absolute;
    bottom: 0;
    left: 0; }
  #header .scape {
    position: absolute;
    bottom: 2rem;
    right: 3rem;
    width: 15rem;
    height: auto; }
    #header .scape img {
      height: 100%; }

.translatey-40 {
  transform: translateY(40px);
  transition: all .65s ease; }

.translatex-40 {
  transform: translateX(40px);
  transition: all .65s ease; }

.rotatey-180 {
  transform: rotateY(180deg);
  transition: all .65s ease; }

.translatexy {
  transform: translate(-7rem, -3rem) rotate(-45deg); }

@keyframes moveUp {
  0% {
    margin-top: 15rem; }
  100% {
    margin-top: 0; } }

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #2c0146ea;
  z-index: 1000;
  cursor: pointer; }

.centered-cta {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: moveUp .65s ease;
  background-color: #fff;
  width: 33.5rem;
  height: auto;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  z-index: 1001;
  padding: 3rem 0; }
  .centered-cta .item {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 1.6rem 0;
    border-radius: .4rem;
    font-family: "Bebas Neue", cursive;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .centered-cta .item img {
      display: inline-block;
      margin-left: .5rem;
      height: 1.6rem;
      width: auto; }
    .centered-cta .item:first-child {
      background-color: #F9F9F9;
      color: #B0A1BA; }
    .centered-cta .item:last-child {
      background-color: #330052;
      color: #fff;
      margin-top: 2rem; }
    .centered-cta .item a {
      text-decoration: none;
      color: inherit; }

@media only screen and (max-width: 468px) {
  .nav-list {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #330052;
    position: fixed;
    bottom: -100vh;
    left: 0;
    transition: bottom 650ms;
    z-index: 998; }
    .nav-list .nav-item {
      margin: 4rem 0; }
      .nav-list .nav-item .nav-link {
        color: #fff !important;
        font-size: 1.6rem !important;
        -webkit-tap-highlight-color: transparent; }
  .container {
    width: 90%; }
  #header #hero {
    margin-top: 10rem; }
    #header #hero .centered h1 {
      font-size: 5.4rem !important;
      width: 100% !important; }
    #header #hero .centered p {
      width: 100% !important;
      font-size: 1.6rem; }
    #header #hero .btm-links {
      flex-direction: column;
      margin-top: 15rem !important; }
      #header #hero .btm-links .links {
        justify-content: space-between; }
        #header #hero .btm-links .links .item {
          margin-right: 2rem !important; }
          #header #hero .btm-links .links .item h5 {
            font-size: 1rem; }
          #header #hero .btm-links .links .item p {
            font-size: 1.2rem; }
          #header #hero .btm-links .links .item:last-child {
            margin-right: 0 !important; }
      #header #hero .btm-links .form {
        width: 100%;
        margin-top: 2rem;
        display: flex;
        justify-content: space-between; }
        #header #hero .btm-links .form input[type=email] {
          width: 80% !important;
          padding-left: 1.2rem; }
        #header #hero .btm-links .form button[type=submit] {
          width: 20%; }
  #header .scape {
    display: none; }
  .will-hide {
    display: none; } }

nav {
  height: 8rem !important; }
  nav .nav-list.active {
    bottom: 0; }
  nav .hamburger {
    -webkit-tap-highlight-color: transparent; }
  nav .toggle {
    color: #000;
    -webkit-tap-highlight-color: transparent; }
