*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;400;900&display=swap');

$font-body: 'Poppins', sans-serif;
$font-menu: 'Bebas Neue', cursive;

$color-green: #399431;
$color-green-accent: #F5FAF5;

$color-purple: #330052;
$color-purple-dark: #2C0146;
$color-purple-accent: #B0A1BA;
$color-purple-stroke: #57038A;

$color-mustard: #FEA116;


$color-blue: #4E7EF8;
$color-blue-accent: #EDF2FE;

$color-yellow: #FFDD67;
$color-yellow-accent: #FAF8E6;

$color-black: #000;
$color-grey: #9E9E9E;

$color-white: #fff;
$color-light: #F9F9F9;

@mixin shadow-1 {
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.1);
}

@mixin a-link {
    text-decoration: none;
    color: $color-black;

    &:hover {
        color: lighten($color: $color-black, $amount: 30%);
        transition: all .3s ease;
    }
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-weight: 300;
    background-color: $color-purple;
    color: $color-black;
    line-height: 1.6;
    width: 100% !important; 
    height: 100vh;
    font-family: $font-body;
    overflow-x: hidden;
}

.container {
    width: 80%;
    max-width: 140rem;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
}


#header {
    width: 100%;
    height: 100vh;
    background-color: inherit;
    position: relative;

    .container {

        nav {
            width: 100%;
            height: 10rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            letter-spacing: 1px;
        
            .nav-brand {
                height: 2.8rem;
                width: auto;
                -webkit-tap-highlight-color: transparent;
                img {
                    height: 100%;
                }
            }
        
            .nav-list {
                display: flex;
                list-style: none;
                
                .nav-item {
                    padding: 0 1.5rem;

                    &:nth-child(1) {
                        
                        abbr {
                            text-decoration: none;
                        }
                        
                    }
        
                    .nav-link {
                        text-decoration: none;
                        font-family: $font-menu;
                        font-size: 1.4rem;
                        color: $color-purple-accent;
                        display: inline-block;
                        transform: scale(0);
                        transition: transform .65s;

                        
                        &:hover {
                            color: $color-white;
                            transition: all .65s ease;
                        }
                    }
                }        
            }
        
            .nav-list.active .nav-item .nav-link {
                transform: scale(1);
            }
        
            .nav-list.active .nav-item {
                &:nth-child(1) .nav-link {
                    transition-delay: .3s;
                }
                &:nth-child(2) .nav-link {
                    transition-delay: .2s;
                }
                &:nth-child(3) .nav-link {
                    transition-delay: .1s;
                }
            }
        
            .nav-list .nav-item {
                backface-visibility: hidden;
                
                &:nth-child(1) .nav-link {
                    transition-delay: .1s;
                }
                &:nth-child(2) .nav-link {
                    transition-delay: .2s;
                }
                &:nth-child(3) .nav-link {
                    transition-delay: .3s;
                }
            }
        
            .hamburger {
                cursor: pointer;
                z-index: 999;
                position: relative;
                transition: all .65s ease;
                right: 0;
        
                .toggle {
                    font-size: 1.4rem;
                    font-family: $font-menu;
                    color: $color-purple-accent;
                    transition: all .65s ease;
                }
                        
            }          
        }
    }

    #hero {
        margin-top: 10rem;
        position: relative;
        z-index: 99;
        
        .centered {
            text-align: center;
            transition: all .65s ease;

            .happy-emoji {
                display: inline-block;
                margin-bottom: 3rem;
                transition: all .65s ease;
            }
            

            h1 {
                font-size: 8.7rem;
                line-height: 1.3;
                color: $color-white;
                width: auto;
                margin: auto;

                background: url('../img/assets/fluent_food-egg-20-regular.svg');
                background-position: bottom right;
                background-repeat: no-repeat;
            }

            p {
                width: 40%;
                margin: 0 auto;
                line-height: 2;
                color: $color-purple-accent;
                font-size: 1.8rem;
                margin-top: 3rem;

                a {
                    color: $color-white;
                    text-decoration: none;
                    -webkit-tap-highlight-color: transparent;

                    &:hover {
                        transition: all .3s ease;
                        color: $color-purple-accent;
                    }
                }
            }
        }

        .btm-links {
            display: flex;
            justify-content: space-between;
            margin-top: 25rem;
            padding-bottom: 7rem;
            .links {
                display: flex;

                .item {
                    margin-right: 6rem;

                    h5 {
                        font-size: 1.2rem;
                        font-family: $font-menu;
                        color: $color-purple-accent;
                        letter-spacing: 1px;
                    }

                    p {
                        font-size: 1.2rem;
                        margin-top: .3rem;
                        color: $color-white;

                        a {
                            text-decoration: none;
                            color: inherit;
                            transition: all .3s ease;

                            &:hover {
                                color: $color-purple-accent;
                            }

                            &::after {
                                content: url(../img/assets/arrow-up-right.svg);
                                margin-left: 1rem;
                                height: .2rem !important;
                                // height: auto;
                            }
                        }
                    }
                }
            }

            .form form {
                width: auto;
                display: flex;
                align-items: center;

                input[type=email] {
                    width: 36rem;
                    height: 5rem;
                    border-radius: .4rem;
                    border: none;
                    background-color: $color-purple-dark;
                    padding-left: 2rem;

                    &::placeholder {
                        font-size: 1.4rem;
                        font-family: $font-body;
                        font-weight: 300;
                        color: $color-purple-accent;
                    }
              
                    &:focus,
                    &:active {
                        outline: none;
                        color: $color-purple-accent;
                        font-size: 1.4rem;
                        font-weight: 300;
                        font-family: $font-body;
                    }
                }

                button[type=submit] {
                    border: none;
                    height: 5rem;
                    width: 5rem;
                    border-radius: .4rem;
                    margin-left: 1rem;
                    background-color: $color-purple-dark;
                    cursor: pointer;
                }
            }
        }
    }

    // The elements

    .eclipse-1 {
        position: absolute; 
        width: 40rem;
        height: 40rem;
        border-radius: 1000px;
        background-color: $color-purple-dark;
        top: 40%;
        left: 7%;
    }

    .chinese-x {
        transition: all .65s ease;
        position: absolute; 
        top: 12%;
        right: -8%;
    }

    .food-tray1 {
        position: absolute;
        bottom: 35%;
        left: -7%;
        z-index: 4;
    }

    .food-tray2 {
        position: absolute; 
        top: 30%;
        right: 20%;
        transition: all .65s ease;
    }

    .soft-s {
        position: absolute; 
        bottom:25%;
        right: 50%;
    }

    .soft-s-1 {
        position: absolute; 
        top: 20%;
        left: 15%;
    }

    .soft-s-2 {
        position: absolute; 
        bottom: 5%;
        right: 10%;
    }

    .review-x {
        transition: all .65s ease;
        position: absolute;
        bottom: 35%;
        left: -7%;
        z-index: 3;
    }

    .wave {
        position: absolute;
        bottom: 0;
        left: 0;
        
        img {
            display: inline-block;
            width: 8rem;
            max-width: 10rem;
            height: auto;
        }
    }

    .scape {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        width: 12rem;
        height: auto;

        img {
            width: 100%;
        }
    }
}

.translatey-40 {
    transform: translateY(40px);
    transition: all .65s ease;
}

.translatex-40 {
    transform: translateX(40px);
    transition: all .65s ease;
}

.rotatey-180 {
    transform: rotateY(180deg);
    transition: all .65s ease;
}

.translatexy {
    transform: translate(-7rem, -3rem) rotate(-45deg);
}

@keyframes moveUp {
    0% {
        margin-top: 15rem;
    }

    100% {
        margin-top: 0;
    }
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #2c0146ee;
    z-index: 1000;
    -webkit-tap-highlight-color: transparent;
    
}

.centered-cta {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: moveUp .65s ease;

    background-color: $color-white;
    width: 33.5rem;
    height: auto;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1001;

    padding: 3rem 0;

    .item {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        padding: 1.6rem 0;
        border-radius: .4rem;
        font-family: $font-menu;
        letter-spacing: 1px;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            display: inline-block;
            margin-left: .5rem;
            height: 1.6rem;
            width: auto;
        }

        &:first-child {
            background-color: $color-light;
            color: $color-purple-accent;
        }

        &:last-child {
            background-color: $color-purple;
            color: $color-white;
            margin-top: 2rem;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

    }
}


@media only screen and (max-width: 1024px) {
    .container {
        width: 80%;    
    }

    .eclipse-1 {
        height: 20rem !important;
        width: 20rem !important;
    }

    .chinese-x {
        top: 5% !important;
        right: -10% !important;
    }

    .review-x {
        left: -10% !important;
    }

    .food-tray1 {
        left: -10% !important;
    }

    .soft-s,
    .soft-s-1 {
        display: none !important;
    }

    .scape {
        width: 10rem !important;
    }

    #header {

        #hero {
            margin-top: 10rem;

            .centered {

                h1 {
                    font-size: 6rem;
                }

                p {
                    width: 70%;
                }
            }
        }

        .btm-links {
            flex-direction: column; 
            justify-content: center !important;

            .links {
                width: 100% !important;
                justify-content: space-between;
            }

            .form form {
                justify-content: space-between;
                margin-top: 4rem;
                width: 100%;

                input[type=email] {
                    width: 90% !important;
                }
            }
        }
    }
}


@media only screen and (max-width: 468px) {

    .nav-list {
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $color-purple;
        position: fixed;
        bottom: -100vh;
        left: 0;
        transition: bottom 650ms;
        z-index: 998;

        .nav-item {
            margin: 4rem 0;

                .nav-link {
                    color: $color-white !important;
                    font-size: 1.6rem !important;
                    -webkit-tap-highlight-color: transparent;
                }
            }
        }

    .container {
        width: 90%;
    }

    #header {
        min-height: 100vh;

            #hero {
                margin-top: 6.5rem;
    
                .centered {
                    h1 {
                        font-size: 3.9rem !important;
                        line-height: 1.6;
                        width: 100% !important;
                    }
    
                    p {
                        width: 100% !important;
                        font-size: 1.6rem;
                        margin-top: 1.5rem;
                    }
                }
    
                .btm-links {
                    flex-direction: column;
                    margin-top: 10rem !important;
    
                    .links {
                        justify-content: space-between;
                        .item {
                            margin-right: 2rem !important;

                            h5 {
                                font-size: 1rem;
                            }

                            p {
                                font-size: 1.2rem;
                            }

                            &:last-child {
                                margin-right: 0 !important;
                            }
                        }
                    }

                    .form form {
                        width: 100%;
                        margin-top: 5rem;
                        display: flex;
                        justify-content: space-between;

                        input[type=email] {
                            width: 80% !important;
                            padding-left: 1.2rem;
                            
                        }

                        button[type=submit] {
                            width: 20%;
                        }
                    }
                }
            }

            .scape {
                display: none;
            }
        }

        .will-hide {
            display: none;
        }
    }

    nav {
        height: 8rem !important;

    .nav-list.active {
        bottom: 0;
    }

    .hamburger {
        -webkit-tap-highlight-color: transparent;
    }

    .toggle {
        color: $color-black;
        -webkit-tap-highlight-color: transparent;
    }
    
}


@media only screen and (max-width: 420px) {
    #header {

        #hero {
            
            .centered {

                h1 {
                    font-size: 3.4rem !important;
                }

                p {
                    font-size: 1.4rem !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 360px) {
    #header {

        #hero {
            
            .centered {

                h1 {
                    font-size: 3rem !important;
                }
            }
            
        }

        .btm-links {
            margin-top: -40rem !important;

            .links {

                .item {

                    p {
                        font-size: 1rem !important;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 314px) {
    #header {

        #hero {
            
            margin-top: 3rem !important;
            .centered {
                

                h1 {
                    font-size: 2.4rem !important;
                }

                p {
                    font-size: 1.2rem !important;
                }
            }
        }
        .btm-links {
            margin-top: -40rem !important;

            .links {

                .item {

                    p {
                        font-size: 1rem !important;
                    }
                }
            }
        }
    }

}