*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;400;900&display=swap');

$font-body: 'Poppins', sans-serif;
$font-menu: 'Bebas Neue', cursive;

$color-green: #399431;
$color-green-accent: #F5FAF5;


$color-blue: #4E7EF8;
$color-blue-accent: #EDF2FE;

$color-yellow: #FFDD67;
$color-yellow-accent: #FAF8E6;

$color-black: #000;
$color-grey: #9E9E9E;

$color-white: #fff;
$color-light: #F9F9F9;

@mixin shadow-1 {
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.1);
}

@mixin a-link {
    text-decoration: none;
    color: $color-black;

    &:hover {
        color: lighten($color: $color-black, $amount: 30%);
        transition: all .3s ease;
    }
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-weight: 300;
    background-color: $color-white;
    color: $color-black;
    line-height: 1.6;
    width: 100% !important; 
    height: 100vh;
    font-family: $font-body;
    overflow-x: hidden;
}

.container {
    width: 80%;
    max-width: 140rem;
    margin: 0 auto;
}


#header {
    width: 100%;
    height: 100vh;
    background-color: inherit;
    position: relative;

    .container {

        nav {
            width: 100%;
            height: 10rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            letter-spacing: 1px;
        
            .nav-brand {
                height: 2.8rem;
                width: auto;
                img {
                    height: 100%;
                }
            }
        
            .nav-list {
                display: flex;
                list-style: none;
                
                .nav-item {
                    padding: 0 1.5rem;
        
                    .nav-link {
                        text-decoration: none;
                        font-family: $font-menu;
                        font-size: 1.4rem;
                        color: $color-grey;
                        display: inline-block;
                        transform: scale(0);
                        transition: transform .650s;
                        backface-visibility: hidden;
                        
                        &:hover {
                            color: $color-black;
                            transition: all .3s ease;
                        }
                    }
                }
             
        
            }
        
            .nav-list.active .nav-item .nav-link {
                transform: scale(1);
            }
        
            .nav-list.active .nav-item {
                &:nth-child(1) .nav-link {
                    transition-delay: .3s;
                }
                &:nth-child(2) .nav-link {
                    transition-delay: .2s;
                }
                &:nth-child(3) .nav-link {
                    transition-delay: .1s;
                }
            }
        
            .nav-list .nav-item {
                backface-visibility: hidden;
                
                &:nth-child(1) .nav-link {
                    transition-delay: .1s;
                }
                &:nth-child(2) .nav-link {
                    transition-delay: .2s;
                }
                &:nth-child(3) .nav-link {
                    transition-delay: .3s;
                }
            }
        
            .hamburger {
                cursor: pointer;
                z-index: 999;
                position: relative;
                transition: all .65s ease;
                right: 0;
        
                .toggle {
                    font-size: 1.4rem;
                    font-family: $font-menu;
                    color: $color-grey;
                    transition: all .65s ease;
                }
                        
            }          
        }
    }

    #hero {
        margin-top: 12rem;
        position: relative;
        z-index: 99;
        
        .centered {
            text-align: center;
            transition: all .65s ease;

            .happy-emoji {
                display: inline-block;
                margin-bottom: 3rem;
                transition: all .65s ease;
            }
            

            h1 {
                font-size: 9.7rem;
                line-height: 1.2;
                color: $color-green;
                width: 50%;
                margin: auto;

                background-image: url(../img/assets/oil.svg);
                background-repeat: no-repeat;
                background-position: bottom right;

                // &::after {
                //     content: url(../img/assets/oil.svg);
                //     z-index: 98 !important;
                //     margin-left: -10rem;
                //     margin-bottom: -5rem;
                // }
            }

            p {
                width: 40%;
                margin: 0 auto;
                line-height: 2;
                color: $color-grey;
                margin-top: 1rem;

                a {
                    color: $color-green;
                    // text-decoration: none;
                    // font-weight: 400;

                    &:hover {
                        transition: all .3s ease;
                        color: $color-grey;
                    }
                }
            }
        }

        .btm-links {
            display: flex;
            justify-content: space-between;
            margin-top: 23rem;
            .links {
                display: flex;

                .item {
                    margin-right: 6rem;

                    h5 {
                        font-size: 1.2rem;
                        font-family: $font-menu;
                        color: $color-grey;
                        letter-spacing: 1px;
                    }

                    p {
                        font-size: 1.4rem;
                        margin-top: .3rem;

                        a {
                            text-decoration: none;
                            color: inherit;
                            transition: all .3s ease;

                            &:hover {
                                color: $color-grey;
                            }

                            &::after {
                                content: url(../img/assets/arrow-up-right.svg);
                                margin-left: 1rem;
                                height: .2rem !important;
                                // height: auto;
                            }
                        }
                    }
                }
            }

            .form {
                width: auto;
                display: flex;
                align-items: center;

                input[type=email] {
                    width: 36rem;
                    height: 5rem;
                    border-radius: .4rem;
                    border: none;
                    background-color: $color-light;
                    padding-left: 2.5rem;

                    &::placeholder {
                        font-size: 1.4rem;
                        font-family: $font-body;
                        font-weight: 300;
                        color: $color-grey;
                    }
              
                    &:focus,
                    &:active {
                        outline: none;
                        color: $color-grey;
                        font-size: 1.4rem;
                        font-weight: 300;
                        font-family: $font-body;
                    }
                }

                button[type=submit] {
                    border: none;
                    height: 5rem;
                    width: 5rem;
                    border-radius: .4rem;
                    margin-left: 1rem;
                    background-color: $color-light;
                    cursor: pointer;
                }
            }
        }
    }

    // The elements

    .eclipse-1 {
        position: absolute; 
        width: 40rem;
        height: 40rem;
        border-radius: 1000px;
        background-color: $color-light;
        top: 35%;
        left: 18%;
    }

    .chinese-x {
        transition: all .65s ease;
        position: absolute; 
        top: 12%;
        right: 8%;
    }

    .food-tray1 {
        position: absolute;
        bottom: 35%;
        left: 10%;
        z-index: 4;
    }

    .food-tray2 {
        position: absolute; 
        top: 35%;
        right: 20%;
        transition: all .65s ease;
    }

    .soft-s {
        position: absolute; 
        bottom:25%;
        right: 50%;
    }

    .soft-s-1 {
        position: absolute; 
        top: 20%;
        left: 25%;
    }

    .soft-s-2 {
        position: absolute; 
        bottom: 25%;
        right: 20%;
    }

    .review-x {
        transition: all .65s ease;
        position: absolute;
        bottom: 35%;
        left: 10%;
        z-index: 3;
    }

    .wave {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .scape {
        position: absolute;
        bottom: 2rem;
        right: 3rem;
        width: 15rem;
        height: auto;

        img {
            height: 100%;
        }
    }
}

.translatey-40 {
    transform: translateY(40px);
    transition: all .65s ease;
}

.translatex-40 {
    transform: translateX(40px);
    transition: all .65s ease;
}

.rotatey-180 {
    transform: rotateY(180deg);
    transition: all .65s ease;
}

.translatexy {
    transform: translate(-7rem, -3rem) rotate(-45deg);
}





@media screen and (max-width: 468px) {
    .container {
        width: 90%;
    }

    nav {
        height: 7rem !important;
    }

    .nav-list {
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $color-white;
        position: fixed;
        bottom: -100vh;
        left: 0;
        transition: bottom 650ms;
        z-index: 998;

        .nav-item {
            margin: 3rem 0;

            .nav-link {
                color: $color-black !important;
                font-size: 1.6rem !important;
            }
        }
    }

    .nav-list.active {
        bottom: 0;
    }

    .toggle {
        color: $color-black !important;
    }
}
